.App {
  background-color: #dcbfe1;
  flex-direction: column;
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  overflow-y: hidden;
}

h1 {
  font-size: 60px;
  text-align: center;
  font-family: "Poppins", sans-serif, "Times New Roman", Times, serif;
  color: #592e83;
  margin-bottom: 20px;
}

hr {
  color: #000;
}

.GithubLink {
  text-align: center;
  background-color: #dcbfe1;
  max-width: 600px;
  flex-direction: column;
  padding: 20px;
  margin: -0 auto;
  font-size: smaller;
}
