h2 {
  margin-top: 20px;
  font-family: "Rubik", sans-serif, "Times New Roman", Times, serif;
  text-align: center;
  color: #592e83;
  font-weight: bolder;
}

h3 {
  text-align: center;
  font-family: "Poppins", sans-serif, "Times New Roman", Times, serif;
  margin-bottom: 30px;
  font-size: 22px;
}
