.CurrentWeather {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding: 0px 100px;
}

.CurrentWeatherIcon {
  font-size: 70px;
  color: #592e83;
}

.CurrentWeatherDetails {
  font-family: "Poppins", sans-serif, "Times New Roman", Times, serif;
}

.SkyDetails {
  font-size: 20px;
}

.SkyDetails::first-letter {
  text-transform: capitalize;
}

.CurrentTemperatureBlock {
  display: flex;
  margin-bottom: 20px;
}

.CurrentTemperature {
  justify-content: center;
  font-size: 35px;
  font-weight: bolder;
  color: #592e83;
  margin-left: 60px;
}

.CelsiusFahrenheitBlock {
  font-size: 16px;
  padding-right: 15px;
  font-weight: bold;
  color: #592e83;
  float: right;
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
}

.Celsius {
  font-style: normal;
  font-family: "Poppins", sans-serif, "Times New Roman", Times, serif;
  text-decoration: none;
}

.Active {
  color: #592e83;
  cursor: default;
  text-decoration: none;
}

.Active:hover {
  text-decoration: none;
  color: #592e83;
}

.Fahrenheit {
  font-family: "Poppins", sans-serif, "Times New Roman", Times, serif;
  text-decoration: none;
}
